body{
    background-size:cover;
    background-image:url(viz.jpg);
    color:white;
    font-family:cursive;
}
#keret{
    width:50%;
    background:rgba(46,139, 87, 0.7);
    padding:25px;
    text-align:center;
    margin:0 auto;
}
h1{
    border-bottom:3px solid white;
}
#bevezeto{
    width:40%;
    background:rgba(90,150, 100, 0.9);
    border:4px inset white;
    text-align:center;
    padding:10px;
    font-style:italic;
    font-size:12px;
    margin:0 auto;
}
#kep{
    width:80%;
}
.kepek{
    width:325px;
    box-shadow:5px 5px 5px saddlebrown;
    border-radius:20px 5px;
    margin:20px;
    transform:rotate(-8deg);
}
input[type="button"]
{
    background:rgba(90,150, 100, 0.9);
    color:white;
    font-family:cursive;
    font-weight:bold;
    border-radius:10px 3px ;
    padding:5px;
    margin-top:10px;

}

h1{
    text-align:center;
    letter-spacing:8px;
}
p{
    text-align:justify;
	font-size:22px;
}
#delfin2{
    float:left;
}
form{
    text-align:left;
}
ul{
    text-align:left;
	font-size:22px;
}
h2{
	text-align:left;
}